*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: NikoshBAN;
    font-weight: 100;
    font-style: normal;
    src: url(./Fonts/NikoshBAN.ttf);
}

body {
    font-family: 'Poppins', sans-serif, NikoshBAN;
    color: #000000c2;
    background: linear-gradient(#333399, #ff00cc);
    overflow: hidden;
}

.nav {
    background: #ffffffb1;
    position: fixed;
    border-bottom: 1px solid #ffffffbc;
    box-shadow: 0px 2px 4px #ffffff94;
    width: 100%;
    z-index: 50;
}
.nav ul {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    align-items: center;
}

.nav ul li {
    list-style: none;
    padding: 10px 25px;
    cursor: pointer;
    font-size: 1.3rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

main .card-box{
    background: #ffffff78;
    border: 2px solid #ffffffbc;
    border-radius: 1.2rem;
    padding: 2rem;
    width: 600px;
    min-height: 350px;
    overflow: hidden;
    box-shadow: 4px 4px 15px #ffffff94,
                -4px 4px 15px #ffffff94;
}

.dignerInfo {
    background: #fff;
    padding: 1.5rem;
    border: 1px solid #3f3f3f;
    border-radius: 0.55rem;
    position: fixed;
    top: 80px;
    right: -5px;
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
    gap: 5px;
    padding: 8px;
    font-size: 10px;
    border-top-left-radius: 35px !important;
    border-bottom-left-radius: 35px !important;
}

.dignerInfo .info1 {
    font-size: 12px;
    padding-right: 10px;
    font-family: "Poppins", sans-serif;
}

.dignerInfo .info1 h3 {
    color: #a91e2c;
}

.dignerInfo .info1 p {
    color: #024601;
}

.dignerInfo .info1 img {
    width: 50px;
    border-radius: 50%;
    margin-bottom: -5px;
}

#section {
    display: flex;
}

#slider {
    margin-right: 4rem;
}

#stats, #stats1, #stats2 {
    background: #000c;
    color: #ffee01;
    padding: .8rem 2.5rem;
    font-size: 1.3rem;
    display: inline-block;
    text-align: center;
    margin-right: 1.5rem;
    border-radius: 15px 15px 0;
    transition: .5s ease;
    box-shadow: 2px 2px 4px #e9fe05a7,
                -2px -2px 4px #e9fe05a7;
    border: 1px solid #ffee01;
}

.anis-box {
    transform: translateX(-680px);
    transition: .5s ease;
}

.anis-box2 {
    transform: translateX(-1350px);
    transition: .5s ease;
}

.back-box {
    transform: translateX(0px);
    transition: .5s ease;
}
.back-box2 {
    transform: translateX(680px);
    transition: .5s ease;
}

.dnone{
    opacity: 0;
    transition: .5s ease;
}

.dblock{
    opacity: 1;
    transition: .5s ease;
}

#title {
    padding-top: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #ffffffb5;
}

.card {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 130px 480px;
}

p.addInfo {
    margin-top: 14px;
    color: #000;
}

.view {
    width: 600px;
    font-size: 1.3rem;
    text-align: justify;
    background: #ffffffc9;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 1rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    height: 14rem
}

.cadr-inf {
    padding: 1.2rem 0;
}
.cadr-inf p {
    font-size: 1.3rem;
    padding: .6rem 0;
}

#sonodN3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.cadr-inf input {
    display: block;
    width: 90%;
    margin: 1rem 0;
    padding: .3rem;
    border: none;
    border-bottom: 1px solid rgba(14, 13, 13, 0.541);
    background: #fcfcfc18;
    outline: none;
}
.cadr-inf select {
    display: block;
    width: 100%;
    padding: .5rem 0;
    outline: none;
    border: none;
    margin: 1.3rem 0;
    background: #ffffff61;
    padding-left: 15px;
}

.btn {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: auto auto auto;
    margin-top: -1.2rem;
}
 .btn p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #003a0f;
 }
.btnB, .btnN {
    cursor: pointer;
    background: #0000007d;
    color: white;
    padding: .7rem 1rem;
    border: 1px solid transparent;
    transition: all .3s ease;
}

.btnB:hover {
    background: #000;
    color: yellow;
    box-shadow: 2px 2px 4px #e9fe05a7,
                -2px -2px 4px #e9fe05a7;
    border: 1px solid #ffee01;
}

.btnN:hover {
    background: #000;
    color: yellow;
    box-shadow: 2px 2px 4px #e9fe05a7,
                -2px -2px 4px #e9fe05a7;
    border: 1px solid #ffee01;
}