* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: NikoshBAN;
    font-family: Nikosh;
    font-weight: 100;
    font-style: normal;
    src: url(../Fonts/NikoshBAN.ttf);
    src: url(../Fonts/Nikosh.ttf);
}

body {
    font-family: 'Poppins', sans-serif, Nikosh, NikoshBAN;
}

.pageOutsid {
    display: flex;
    justify-content: center;
    height: 11.7in;
    padding: .5rem;
    margin: .5rem;
}
.pageA4 {
    width: 8.27in;
    height: 11.7in;
    padding: .5rem;
}

.pageBorder {
    position: relative;
    text-align: justify;
    font-size: 22px;
    height: 6.7in;
    border: 20px solid transparent;
    border-image-source: url(./BD24.jpg);
    border-image-slice: 50;
    border-image-repeat: initial;
    background-image: url(./bd2.png);
    background-size: 22rem;
    outline: 1.5px solid #1a00fd;
}

.bdControl{
    padding: 1.6rem 1rem;
    width: 95.5%;
    height: 94%;
    background: #ffffff80;
    padding-top: 10px;
}
.hed{
    text-align: center;
    background: linear-gradient(90deg, #ff0022, #1b2c2c, #1a00fd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hid{
    font-size: 14px;
}

.pageTitleC {
    text-align: center;
    font-size: 30px;
}

.pageTitle {
    border: 2px solid #bf4402;
    border-radius: 10px;
    padding: 5px 10px;
    background: linear-gradient(90deg, #ff0022, #1b2c2c, #1a00fd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.printPara {
    line-height: 1.8rem;
}

.devloper {
    position: absolute;
    font-size: 12px;
    color: #646161;
    bottom: .5rem;
    left: .5rem;
}

#cdate {
    position: absolute;
    top: 2rem;
    right: 1.5rem;
    font-size: 18px;
    font-family: NikoshBAN;
}

#one{
    padding-right: 2rem;
}

#Cinfo {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    font-size: 20px;
    text-align: center !important;
}